@import "../CSS/about.css";
@import "../CSS/blog.css";
@import "../CSS/contacts.css";
@import "../CSS/navbar.css";
@import "../CSS/portfolio.css"

/* Homepage */
.body {
  background-color: black;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 2 50%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
}

/* About */


/* blog */


/* portfolio */


/* contacts */




/* Extras */

.avatar{
  border-radius: 50%;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
  
}
.

/* Contacts */

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: black;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Contacts container*/
.container{
  color:white;
}
.footer {
  text-align: center;
  color:white;
}

/* Social Media*/

a {
  text-decoration: none;
  font-size: 22px;
  color: white;
  margin-left: 20px;
}

button:hover, a:hover {
  opacity: 0.7;
  color: whitesmoke;
}
/* Flex container*/

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
=======
body {
  font-display: Arial;
}
.container{
  display: grid;
  /*grid-template-columns:25% 50% 25%;
  grid-template-rows:300px 300px;*/
  /* grid-template: 300px 150px / repeat(4, 1fr); */
  grid-template: 100px 1fr 150px / 200px 1fr;
  grid-gap: 10px;
  height:100vh;
  grid-template-areas: "header header"
                       "left contenido"
                       "footer footer"
}
.item {
  //This is to automatically inspect all the elements
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
  
}
.item:nth-of-type(4){
  background: whitesmoke;
  overflow: auto;
  /*display: subgrid;*/
  display: grid;
  /*display:inline-grid;*/
  grid-template: 50px 50px 50px / 200% 200px 200px;
}
.item .item{
  background: lightgray;
}
.header{
  grid-area:header;
  background-color: lightgray;
}
.left{
  grid-area:left;
  background-color: lightgray;
}
.contenido{
  grid-area:contenido;
  background-color: lightgray;
}
.footer{
  grid-area:footer;
  background-color: lightgray;
}
